<div class="container">
  <!-- Modal end -->

  <div class="row mt-3 pl-3 pr-3">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Price</th>
          <th>Description</th>
          <th>Details</th>
          <th>Action</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td scope="row">
            <img
              width="50px"
              [src]="'assets/img/product/' + product.img"
              alt="{{ product.name }}"
            />
          </td>
          <td>{{ product.name }}</td>
          <td>{{ product.price | currency }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.details }}</td>
          <td>
            <button class="btn btn-primary">
              <span class="badge badge-primary" (click)="editProduct(product)">Edit</span>
            </button>
          </td>
          <td>
            <button class="btn btn-primary">
              <span class="badge badge-danger" (click)="deleteProduct(product)">Delete</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
