<div class="blog-area pb-55">
    <div class="container">
      <div class="section-title text-center mb-55">
        <h2>OUR BLOG</h2>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="blog-wrap mb-30 scroll-zoom">
            <div class="blog-img">
              <a href="#"><img src="assets/img/blog/blog-1.webp" alt="" /></a>
              <span class="purple">Lifestyle</span>
            </div>
            <div class="blog-content-wrap">
              <div class="blog-content text-center">
                <h3>
                  <a href="#"
                    >Lorem ipsum dolor sit <br />
                    amet consec.</a
                  >
                </h3>
                <span>By Shop <a href="#">Admin</a></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="blog-wrap mb-30 scroll-zoom">
            <div class="blog-img">
              <a href="#"><img src="assets/img/blog/blog-2.webp" alt="" /></a>
              <span class="pink">Lifestyle</span>
            </div>
            <div class="blog-content-wrap">
              <div class="blog-content text-center">
                <h3>
                  <a href="#"
                    >Lorem ipsum dolor sit <br />
                    amet consec.</a
                  >
                </h3>
                <span>By Shop <a href="#">Admin</a></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="blog-wrap mb-30 scroll-zoom">
            <div class="blog-img">
              <a href="#"><img src="assets/img/blog/blog-3.webp" alt="" /></a>
              <span class="purple">Lifestyle</span>
            </div>
            <div class="blog-content-wrap">
              <div class="blog-content text-center">
                <h3>
                  <a href="#"
                    >Lorem ipsum dolor sit <br />
                    amet consec.</a
                  >
                </h3>
                <span>By Shop <a href="#">Admin</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>